language: python
python:
  - '2.6'
  - '2.7'
  - '3.4'
  - '3.5'
  - '3.6'
install:
  - make install
  - make test-install
  - pip install codecov
script:
  - make test
  - . venv/bin/activate; coverage run test/__init__.py
after_success:
  - codecov
deploy:
  provider: pypi
  user: __token__
  password:
    secure: $PYPI_TOKEN
  on:
    branch: master
    condition: "$TRAVIS_TEST_RESULT = 0"
    tags: true
