dist: xenial # required for Python >= 3.7
language: python
python:
  - '2.7'
  - '3.4'
  - '3.5'
  - '3.6'
  - '3.7'
  - '3.8'
install:
  - make install
  - make test-install
  - pip install codecov
script:
  - make test
  - . venv/bin/activate; coverage run test/__init__.py
after_success:
  - codecov
deploy:
  provider: pypi
  user: "__token__"
  password: $PYPI_TOKEN
  skip_cleanup: true
  distributions: sdist bdist_wheel
  on:
    branch: master
    condition: "$TRAVIS_TEST_RESULT = 0"
    tags: true
    python: '3.6'
